/* Add some global styles here! */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:  white;
  background-color: #264653;
}

:root {
  --red: rgb(231, 111, 81);
  --base-bg: #2a9d8f;
}

button.btn-small {
  font-size: 80%;
  color: white;
  background: transparent;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
}

button.btn-submit {
  color: white;
  background: transparent;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
}

button.button-error {
  border: 1px solid var(--red);
}

button.btn-veil :hover {
  background: var(--red);
  cursor: pointer;
}

button.btn-unveil :hover {
  background: var(--base-bg);
  cursor: pointer;
}

button.btn-taggedview :hover {
  color: white;
  background: transparent;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
}

a.button {
  color: #212529;
  background-color: #2a9d8f;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


